<h3>Wellcome to Category!</h3>
<div class="row">
<div class="col-md-4 offset-md-2">
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="exampleInputEmail1">Category Name</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="Categ.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Category Name">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <textarea rows="5" name="description" #description="ngModel" [(ngModel)]="Categ.description" class="form-control" id="exampleInputPassword1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="col-md-6">
  <!--  <div class="col-md-4">
        <table>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Description
                </th>
            </tr>
            <tr *ngFor = 'let cat of catlist'>
              
                <td>{{cat.name}}</td>
                <td>{{cat.description}}</td>
                <td><button>delete</button> | <a>Details</a></td>
            </tr>
        </table>
    </div>-->
    <table class="table table-striped table-hover">
        <thead>
          <tr>
           
            <th scope="col">Category Name</th>
            <th scope="col">Description</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let cat of catlist'>
            <td>{{cat.name}}</td>
            <td>{{cat.description}}</td>
            <td><button class="btn btn-success" (click)="populateForm(cat)">Edit</button> | <button class="btn btn-danger" (click)="onDelete(cat.categoryId)">delete</button></td>
          </tr>
        </tbody>
      </table>
</div>
</div>

